body {
    font-family: Arial, sans-serif;
    background-color: #000080;
    
    background-image: url(nyan-cat-1.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(39, 50, 212, 0.952);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 20px 40px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #ff0000;
    color: white;
}

button:hover {
    background-color: rgb(0, 0, 0);
}

.hidden {
    display: none;
}
